<h1>Artists</h1>

 {{!-- <ul>
  {{#each artists}}    
      <div>
        <img src="{{this.images.0.url}}" alt="" width="300px" height="300px">
        <p>{{this.name}}</p>
        <button src=""><a href="/albums/{{this.id}}">View Albums</a></button>
      </div>
  {{/each}}
</ul> --}}