<form action="/artists" method="POST">
  <label for="search"></label>
   <input type="text" name="search" id="search" required placeholder="The Beatles">
  <button type="submit">Search for an Artist</button>
</form>